@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cairo", sans-serif;
    scroll-behavior:smooth;
}


header{
    display:flex;
    background-color: rgb(240, 237, 237);
    width: 100%;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    padding: 10px 50px;
    padding-right: 2px;
   
}
.logo{
    color:brown;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

nav a{
    color: rgb(24, 26, 26);
    padding:15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
nav a:hover{
    color: brown;
    font-weight: bold;
}
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section{
    padding: 100px 150px;
}

.content h2{
color: aliceblue;
font-size: 30px;
font-weight: bold;

}
.content h2 span{
    color: brown;
    font-size: 20px;

}
.content h3{
    color: rgb(177, 33, 33);
    font-weight: bold;
    font-size: 50px;
}
.contact-Me{
    color: rgb(240, 229, 229);
    text-decoration: none;
    background-color: rgb(179, 32, 32);
    padding: 5px 5px;
    border-radius: 15px;
    display:inline-block;
    margin-bottom: 30px;
    font-weight: 600;
    transition: 0.5s ease;

}


.contact-Me:hover{
    color: #000000;
    transform:scale(1,1) ;
    background-color: brown;
}
.social a{
    color: rgb(255, 255, 255);
font-size: 30px;
  padding-right: 25px;
    
}


.our-servises{
    text-align: center;
    background-color: #dad7d7;
}
.our-servises h2{
    color: #d84444;
    font-size: 35px;
}
.our-servises p{
    color: #1d1d1d;
    font-size: 15px;
    margin-bottom: 35px;
}
.servises{
    display: flex;
}
.box{
background-color: #ffffff;
padding: 20px;

margin: 10px;
border-radius: 10px;
border: 1px solid #a82828;
cursor: pointer;
}
.box h3{
    font-size:20px
}
.box:hover{
    background-color: #b9b8b8;
    border-radius: 5px;
    
}
.icon{
    color: #a82828;
    font-size: 40px;
}

.portfplio {
    background-color: rgb(255, 255, 255);
    text-align: center;
 
 
}
.portfplio h2{
    color: #d84444;
    font-size: 35px;

}
.portfplio p{
    color: #474545 ;
    font-size: 22px;
    margin-bottom: 50px;
}


.photo {
    margin:20px;
 
    

    
}
.photos {
    display: flex;
    align-items: center;
}

.photos img{
    width: 100%;
    margin: 20px;
}
.photos img:hover{
    background-color: #e2dfdf;
    border-radius:5px;
    box-shadow: 0 5px 5px  rgb(67, 77, 69);
    transform:scale(1.1);
}



.our-courses{
    text-align: center;
    background-color: #dad7d7;


}


.our-courses h2{
    color: #d84444;
    font-size: 35px

}
.our-courses p{
    color: #1d1d1d;
    font-size: 15px;
    margin-bottom: 35px;
}
.courses{
    display:flex;
}



.course{
    background-color: #ffffff;
    padding: 20px;
    
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #a82828;
    cursor: pointer;}

.course:hover{
    background-color: #e2dfdf;
    border-radius:5px;
    box-shadow: 0 5px 5px  rgb(67, 77, 69);
    transform:scale(1.1);
}

.contact-us{
    background-color: #ffffff;
    text-align: center;
}

.contact-us h2{
    color: #d84444;
    font-size: 35px;

}
.contact-us p{
    color: #474545 ;
    font-size: 22px;
    margin-bottom: 50px;
}
.contact-area{
    width: 60%;
    background-color: #f7f7f7;
    margin: 20px auto;
    padding: 35px;
    border: 1px solid ghostwhite;
    border-radius: 10px;
}

.form-input  input{
    width: 60%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid  rgb(97, 97, 117);
}
.form-input  textarea{
    width: 60%;

    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid  rgb(189, 183, 183);
}
.send{
    padding: 5px 20px;
    background-color: #d84444;
    color: #000; 
    border:none;
    border-radius: 5px;
    cursor: pointer;

}
.send:hover{
    background-color: #c93a3ad2;
}
footer{
    background-color: #535252;
    text-align: center;
    padding-top: 80px;
    border-top: 5px solid  #c93a3ad2;;

}
footer p{
    color: #fffcfc;
    font-size: 23px;

}
